<script>
  import Button from "../components/Button.svelte";
  import List from "../components/List.svelte";

  let pubList = [
    {
      name: "The Eagle",
      location: "London",
      desc:
        "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of  (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, , comes from a line in section 1.10.32."
    },
    {
      name: "The Queens Head",
      location: "London",
      desc:
        "I remember long ago, when the sun was shining, when the stars where bright, all through the night, and the sound of your laughter, when i held you tight."
    },
    {
      name: "The Princess",
      location: "London",
      desc:
        "I remember long ago, when the sun was shining, when the stars where bright, all through the night, and the sound of your laughter, when i held you tight."
    },
    {
      name: "The Court",
      location: "London",
      desc:
        "I remember long ago, when the sun was shining, when the stars where bright, all through the night, and the sound of your laughter, when i held you tight."
    }
  ];
</script>

<style>

</style>

<svelte:head>
  <title>Publist</title>
</svelte:head>

<h1>Its a list...</h1>
<List list={pubList} />

<Button
  onClick={() => console.log('hello')}
  buttonText={'this is the button text'} />
<Button buttonText={'Add'} className={'confirm'} />
<Button buttonText={'AgIjKKEqqq'} />
