<script>
  import Icon from "./Icon.svelte";

  export let buttonText;
  export let onClick;
  export let className;
  export let svgAlt;
  export let icon;
  export let iconClassName;
  export let hidden;
</script>

<style>
  span {
    background-color: inherit;
    color: inherit;
    position: relative;
  }
  button {
    position: relative;
    background-color: aliceblue;
    color: black;
    border: none;
    text-align: center;
    font-size: 24px;
    border-radius: 12px;
    transition-duration: 0.8s;
    padding: 8px;
    opacity: 1;
    visibility: visible;
  }

  .hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .without-border {
    padding: 0;
  }

  button:hover span {
    border-bottom: 2px inherit solid;
  }
  button:hover {
    background-color: azure;
    color: grey;
    cursor: pointer;
  }
  button:focus {
    background-color: azure;
    color: grey;
  }

  button:hover span {
    border-bottom: 2px grey solid;
  }

  button:focus span {
    border-bottom: 2px grey solid;
  }

  @media (prefers-color-scheme: dark) {
    button:hover span {
      border-bottom: 2px whitesmoke solid;
    }
    button:focus span {
      border-bottom: 2px whitesmoke solid;
    }
    button {
      background-color: blueviolet;
      color: white;
    }
    button:hover {
      background-color: purple;
      color: whitesmoke;
    }
    button:focus {
      background-color: purple;
      color: whitesmoke;
    }
  }

  .confirm {
    background-color: rgb(119, 195, 119);
  }

  .cancel {
    background-color: red;
  }

  .default-color {
    background-color: inherit;
  }

  .default-color:hover {
    background-color: inherit;
  }

  .default-color:focus {
    background-color: inherit;
  }
</style>

<!-- NOT CSS -->

<button
  class={className + `${hidden ? ' hidden' : ''}`}
  on:click={onClick()}
  aria-hidden={hidden}>
  {#if buttonText}
    <span>{buttonText}</span>
  {:else if icon}
    <Icon className="{iconClassName} small" alt={svgAlt} />
  {/if}
</button>
