<script>
  export let className;
  export let alt;
</script>

<style>
  div {
    height: 100px;
    width: 100px;
    background-color: inherit;
    background-size: cover;
    opacity: 1;
    visibility: visible;
    transition-duration: 0.15s;
  }

  .hidden {
    opacity: 0;
    visibility: hidden;
  }

  .small {
    height: 25px;
    width: 25px;
  }

  .star {
    background-image: url("https://image.flaticon.com/icons/png/128/149/149220.png");
  }

  .edit {
    background-image: url("/icons/pencil.svg");
  }

  .add {
    background-image: url("/icons/pluss.svg");
  }

  .close {
    background-image: url("/icons/cross.svg");
  }

  .delete {
    background-image: url("/icons/bin.svg");
  }

  .more {
    background-image: url("/icons/more.svg");
  }

  .view {
    background-image: url("/icons/view.svg");
  }
</style>

<div class={'icon ' + className} />
