<script>
  import { getContext } from "svelte";
  import Button from "./Button.svelte";
  import Plus from "./icons/plus.svelte";
  import Bin from "./icons/bin.svelte";
  import Pencil from "./icons/pencil.svelte";
  import View from "./icons/view.svelte";
  import Cross from "./icons/cross.svelte";
  import More from "./icons/more.svelte";

  let collapsed = true;

  const toggleExpand = () => {
    collapsed = !collapsed;
  };

  const toggleOpen = getContext("toggleOpen");
</script>

<style>
  .IconButtonList--border {
    background-color: lightgrey;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    padding: 10px;
  }

  .IconButtonList--hidden {
    width: 8%;
  }

  @media (max-width: 600px) {
    .IconButtonList--border {
      border-radius: 50px;
      width: 100%;
    }
    .IconButtonList--hidden {
      width: 16%;
    }
  }
</style>

<div
  class="IconButtonList IconButtonList--border {collapsed ? 'IconButtonList--hidden' : ''}">
  <Button
    className="without-border default-color"
    hidden={collapsed}
    icon={true}
    iconClassName="{collapsed ? 'hidden ' : ''}delete" />
  <Button
    className="without-border default-color"
    hidden={collapsed}
    icon={true}
    iconClassName="{collapsed ? 'hidden ' : ''}edit" />
  <Button
    className="without-border default-color"
    onClick={toggleOpen}
    hidden={collapsed}
    icon={true}
    iconClassName="{collapsed ? 'hidden ' : ''}view" />
  <Button
    className={`without-border default-color`}
    onClick={toggleExpand}
    icon={true}
    iconClassName={collapsed ? 'more' : 'close'} />
</div>
