<script>
  import ListItem from "./ListItem.svelte";

  export let list;
</script>

<style>
  ul {
    padding: 0;
  }
</style>

<ul>
  {#each list as listItem}
    <ListItem
      name={listItem.name}
      location={listItem.location}
      desc={listItem.desc} />
  {/each}
</ul>
