<script>
  import { setContext } from "svelte";
  import IconButtonList from "./IconButtonList.svelte";

  export let name;
  export let location;
  export let desc;

  let open = false;

  const toggleOpen = () => (open = !open);

  setContext("toggleOpen", toggleOpen);
</script>

<style>
  li {
    list-style-type: none;
    border: 2px rgb(151, 163, 231) solid;
    margin-bottom: 20px;
    padding: 20px;
  }

  .listitem-container__body {
    display: none;
  }

  .open .listitem-container__body {
    display: flex;
  }

  .listitem-container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .listitem__header {
    flex: 2;
  }

  .listitem__location {
    /* display: none; */
    flex: 1;
  }

  .listitem__button {
    flex: 2;
    flex-direction: row-reverse;
    display: flex;
  }

  .listitem__desc {
    /* display: none; */
  }

  @media (max-width: 600px) {
    .listitem__location {
      display: none;
    }
    .listitem__button {
      flex: 3;
    }
  }
</style>

<li>
  <div class="listitem-container" class:open>
    <div class="listitem-container__header">
      <div class="listitem__header">{name}</div>
      <div class="listitem__location">{location}</div>
      <div class="listitem__button">
        <IconButtonList />
      </div>
    </div>
    <div class="listitem-container__body">
      <div class="listitem__desc">{desc}</div>
    </div>
  </div>
</li>
