@media (prefers-color-scheme: dark) {
  svg {
    fill: inherit;
    background-color: gray;
    border: 3px solid gray;
  }

  svg:hover {
    fill: inherit;
    background-color: lightgray;
    border: 3px solid gray;
  }
}
